@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}
body {
  max-width: 100%;
  margin: 0%;
  font-size: 4vw;
}

header {
  background: rgba(0, 0, 0, 0.5) url(../images/background.jpg) no-repeat top;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  height: 35vw;
}

main {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 2vw;
}

/* ----header---- */

h1 {
  text-align: center;
}

#nav,
#categories,
#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1vw;
  grid-column: 1/-1;
  padding: 0%;
  flex: 1 0 100%;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font: bold 3vw;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}

#proImg {
  align-items: center;
}
#prodPic {
  max-width: 20vw;
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

figcaption {
  text-align: center;
}
